.page-footer {

    width: 100%;
    bottom: 0%;
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;

}


.footer-text{
    text-align: justify;
}

.icone{
    color:#ffc252;
    text-decoration: none;
}

